
  body {
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    background: #fdfdfd;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 1024px;
  }
  nav ul .logo li a img {
    height: 2.5rem;
    aspect-ratio: square;
  }
  nav ul .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
  nav ul .menu li a {
    font-size: 1rem;
    font-weight: 400;
    color: #030712;
    transition: all .5s;
    text-decoration: solid underline #fdfdfd;
  }
  nav ul .menu li a:hover {
    text-decoration: solid underline #1E40AF;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
  }
  .logo2 {
    font-size: 150px;
    font-weight: bold;
    color: #1E40AF;
  }
  .sensor-data {
    margin-left: 50px;
  }
  .sensor-data p {
    font-size: 24px;
  }
  .recommendation {
    font-size: 20px;
    font-weight: bold;
    color: #ff0000;
    margin-top: 10px;
  }
  .history-container {
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 20px;
    max-width: 800px; /* Adjusted width */
    margin: 20px auto; /* Center the container */
  }
  .table-wrapper {
    width: 100%;
    overflow-x: auto;
  }
  .table-wrapper table {
    width: 100%;
    border-collapse: collapse;
  }
  .table-wrapper table thead th {
    padding: 1rem .5rem;
    color: #1E40AF;
    font-weight: 500;
    font-size: 1rem;
    text-align: center; /* Center align the column headers */
    border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
  }
  .table-wrapper table tbody td {
    padding: .8rem .5rem;
    font-size: .8rem;
    color: #030712;
    font-weight: 600;
    white-space: nowrap;
    border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
  }